<div class="row centered masthead flex-column centered">
    <div class="centered">
      <h1>
        Blueprint
      </h1>
    </div>
    <div class="centered">
      <h5>Explore your DNA</h5>
    </div>
    <div class="centered">
      <h5>In depth, free, and secure</h5>
    </div>
    <div class="auth-button hide-button" ng-class="{'show-button' : !isAuthed}">
      <a href="/api/auth">
        <div class="button button-white">Get Started</div>
      </a>
    </div>
    <div class="auth-button hide-button" ng-class="{'show-button' : isAuthed}">
      <div class="button button-white" ui-sref="summary">Enter</div>
    </div>
    <div class="backbone">
      <img src="./../images/backbone.png">
    </div>
    <div class="helix-marks">
      <img src="./../images/helix-sketch-marks.png">
    </div>
    <div class="helix">
      <img src="./../images/helix-sketch.png">
    </div>
    <div class="circles">
      <img src="./../images/circles.png">
    </div>
</div>
<div class="row">
  <div class="container flex-column centered about" id="about">
      <div class="row about-subtitle">
        <h4>What <span class="color-pop">you'll learn</span></h4>
      </div>
      <div class="row">
        <p>Get informed with tools to help you understand your body and explore your personal genome.</p>
        <p>Your DNA will be evaluated with a curated list of the most well-evidenced and researched genetic tests. After uploading your results from a supported DNA sequencing vendor, you'll be able to explore your results and find detailed descriptions, categories, and filters. Blueprint will instantly process and browse your data. It's fast, secure, free, and anonymous.</p>
      </div>
  </div> 
</div>
<div class="row flex-column centered about2">
  <div class="container flex-column centered">
    <div class="row about-subtitle">
      <h4>Your blueprint, and what it means</h4>
    </div>
    <div class="row">
      <p>Your DNA contains many thousands of variations (also called SNPs or variants) that are unique to you. Most variants have no known or established effect. However, some can cause specific physical traits, or in some cases disease. These variants can be passed down from parent to child.</p>
      <p>Genotyping tests from companies like 23andMe or AncestryDNA look at specific locations in your DNA and identify variants. These, combined with environmental factors, are make you unique.</p>
      <p>We focus on certain variants known to be associated with important health conditions and traits. Tests like these are the first step towards understanding how your genetics can impact your life.</p>
    </div>
  </div>

    <div class="backbone2">
      <img src="./../images/backbone.png">
    </div>
    <div class="helix2">
      <img src="./../images/helix-sketch.png">
    </div>
    <div class="circles2">
      <img src="./../images/circles.png">
    </div>
    <div class="circles3">
      <img src="./../images/circles.png">
    </div>
</div>


<div class="container centered spacer-border">
</div>

<div class="container about-items">
    <div class="row title">
      <h4>Results that <span class="color-pop">matter<span></h4>
    </div>
    <div class="row">
      <div class="one-third column about-item">
        <i class="fa fa-check-circle-o color-pop" aria-hidden="true"></i>
        <h5>High Confidence</h5>
        <p>Our algorithms and curators identify only the most relevant and reputable tests from crowd-sourced lists. This is no game of roulette.</p>
      </div>
      <div class="one-third column about-item">
        <i class="fa fa-link color-pop" aria-hidden="true"></i>
        <h5>Established Associations</h5>
        <p>Datamined genoytpe-trait associations are compared against high-confidence and peer-reviewed studies.</p>
      </div>
      <div class="one-third column about-item">
        <i class="fa fa-search-plus color-pop" aria-hidden="true"></i>
        <h5>Search and Filtering</h5>
        <p>Search for a trait, disease, or related drug and get immediate, streamlined results.</p>
      </div>
    </div>
    <div class="row">
      <div class="one-third column about-item">
        <i class="fa fa-heartbeat color-pop" aria-hidden="true"></i>
        <h5>Nutrition and fitness</h5>
        <p>Nutrition, fitness, and other relevant information is made available in your personal dashboard.</p>
      </div>
      <div class="one-third column about-item">
        <i class="fa fa-medkit color-pop" aria-hidden="true"></i>
        <h5>Genetic Diseases</h5>
        <p>Your DNA is tested for genotype-disease associations established in scientific literature. Results are categorized into major topics including cancer, aging, and more.</p>
      </div>
      <div class="one-third column about-item">
        <i class="fa fa-eye color-pop" aria-hidden="true"></i>
        <h5>Traits and Characteristics</h5>
        <p>Learn about your genetic traits, including physical characteristics and genetic ancestry.</p>
      </div>
    </div>
</div> 

<div class="container centered spacer-border">
</div>

<div class="container contact-us">
  <div class="row">
      <p>Feel free to <span class="color-pop">contact us</span> with questions</p>
  </div>
</div>
