<div class="row centered masthead flex-column centered">
    <div class="centered">
      <h1>
        Welcome to Blueprint
      </h1>
    </div>
    <div class="centered">
      <h5>A new account has been created for you. Please log in by clicking the button below</h5>
    </div>
    <div class="auth-button hide-button" ng-class="{'show-button' : !isAuthed}">
      <a href="/api/auth">
        <div class="button button-white">Log In</div>
      </a>
    </div>
    <div class="auth-button hide-button" ng-class="{'show-button' : isAuthed}">
      <div class="button button-white" ui-sref="summary">Enter</div>
    </div>
    <div class="backbone">
      <img src="./../images/backbone.png">
    </div>
    <div class="helix-marks">
      <img src="./../images/helix-sketch-marks.png">
    </div>
    <div class="helix">
      <img src="./../images/helix-sketch.png">
    </div>
    <div class="circles">
      <img src="./../images/circles.png">
    </div>
</div>
<div class="row">
  <div class="container flex-column centered about" id="about">
      <div class="row about-subtitle">
        <h4>What <span class="color-pop">you'll learn</span></h4>
      </div>
      <div class="row">
        <p>Get informed with tools to help you understand your body and explore your personal genome.</p>
        <p>Your DNA will be evaluated with a curated list of the most well-evidenced and researched genetic tests. After uploading your results from a supported DNA sequencing vendor, you'll be able to explore your results and find detailed descriptions, categories, and filters. Blueprint will instantly process and browse your data. It's fast, secure, free, and anonymous.</p>
      </div>
  </div> 
</div>