/* GENERAL */
.summary, .summary-all-results {
  color: #004a71;

    .green {
      color: green;
    }

    .red {
      color: #ff533a;
    }

    .yellow {
      color: #FFAF3A;
    }

    div.table-body div:hover {
      cursor: pointer;
      background-color: #f4f6f8;
    }

    div.table-body div {
      transition: 0.2s linear;
    }
}

.filter-by {
  padding: 15px 15px 0px 0px;

  div.button {
    display:none;
  }

  div.show-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.active-button {
    background-color: #ff533a;
    color: white;
  }

  div.health-alert {
    margin-right: 20px;
  }

  .text-filter {

  }

  input {
    margin: 0px;
    color: #8AA8BD;
  }

  input[type="text"]::-webkit-input-placeholder {
    padding-top:10px;
    font-family: 'ProximaNova Condensed Light'
  }
}

.summary-subheader {
  background-color: rgba(0, 54, 113, 0.1);
  border-bottom: 1px solid rgba(0, 74, 113, 0.2);
  padding: 10px;

  .flex-row {
    align-items: center;
  }

  .summary-subheader-left {
      min-width: 200px;
  }

  .summary-subheader-right {
    text-align: right;
  }
}

div.category-container div:nth-child(odd) {
  margin-left:0px !important;
}

div.category-container {

  padding-bottom: 100px;

  .category-title {
    padding: 5px 15px;
    font-size: 3rem;
    border-bottom: 3px solid rgba(0, 74, 113, 0.3);
  }

  .table-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;

      border-bottom: 1px solid rgba(0, 74, 113, 0.2);
      padding: 10px 15px;
    }

  .table-head {
    text-transform: uppercase;
    font-size: 2rem;
    background-color: rgba(0, 54, 113, 0.04);
  }

  .table-body {
    max-height: 286px;
    min-height: 286px;
    overflow: auto;
  }

  .scroll-for-more {
    height: 10px;
    background: rgba(0, 74, 113, 0.05);
    border-bottom: 3px solid rgba(0, 74, 113, 0.3);
  }
}

/* SPECIFIC TO MAIN SUMMARY VIEW */

.summary {
  .genoset-name {
    display: none;
  }
  .snp-map {
    display: none;
  }
}


/* ALL RESULTS */

.summary-all-results {

  .table-body {
    padding-bottom: 50px;
    min-height: 0px !important;
    max-height: none !important;
  }

  .category-table {
    .table-cell {
      width: 300px;
    }
    .genoset-name {
      margin-right: auto;
    }
    .result {
      text-align: right;
    }
  }

}

